.about-page {
  text-align: center;
}

.bio-wrapper {
  margin-top: 50px;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  padding: 25px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto;
  max-width: 800px;
}

.about-item {
  display: flex;
  flex-direction: column;
  padding: 100px;
  margin: 25px auto;
  height: 50px;
}

/* .about-item:first-child, .about-item:nth-child(2){
    border-right: 2px solid rgb(210, 158, 17, 0.55);;
} */

.flex-wrapper hr {
  border: 2px solid rgb(210, 158, 17, 0.55);;
  /* height: 90px; */
  margin-top: 2%;
  transform: rotate(90deg);
  /* height:10px; */
  width: 50px;

  /* text-align:center; */
}

.flex-above {
  font-size: 1.5rem;
}

.flex-below {
  font-style: italic;
  opacity:.75;
}

.about-action-block {
  background-color: rgb(241, 242, 242);
  height: 100%;
  width: 100%;
  margin: 5vh 0vh;
  display: flex;
  align-items: center;
  position: relative;
}

.about-action-text {
  max-width: 686px;
  text-align: center;
  /* padding-top:5%; */
  margin: 5vh auto;
}

.about-action-block > div {
  justify-content: space-around;
}
/* TEMP */
.about-action-text.col-md-6.col-12 {
  /* margin-left: -10%; */
}

.about-action-text > h1 {
  margin: 15px auto;
  width: 100%;
  /* font-size:2.5rem; */
  padding: 25px;
}

.about-action-text > p {
  margin: 35px 15px;
  /* width: 50%; */
}

.about-action-text > p:nth-child(3) {
  max-width: 540px;
  font-size: 1.5rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 800;
  margin:0px 50px;
}

.about-lead-btn {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 0px;
  text-align: left;
  z-index: 100;
  font-weight: bold;
  text-transform: uppercase;
}

.about-lead-btn:hover {
  background-color: rgba(210, 158, 17, 1);
  border: 1px solid transparent;
  /* text-align:left; */
}


.about-stamp-img {
    transform: rotate(-25deg);
    position: absolute;
    left: 25%;
    top: -60px;
    z-index: 500;
    width: 120px;
  }


@media (max-width: 767px) {
    .about-stamp-img {
      left: 1%;
      top:-75px;
    }
  }
@media (min-width: 768px) {
    .about-stamp-img {
      left: 5%;
    }
  }

  @media (min-width: 1200px) {
    .about-stamp-img {
      left: 10%;
    }
  }
  

@media (min-width: 1500px) {
  .about-stamp-img {
    transform: rotate(-25deg);
    position: absolute;
    left: 25%;
    top: -60px;
    z-index: 500;
    width: 120px;
  }
}


.image-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  margin: 25px;
  cursor: pointer;
  flex: 0 0 21%;
}

.hover-text {
  opacity: 0;
  position: absolute;
  height: 100%;
  align-items: center;
  text-align: center;
  vertical-align: center;
  padding-top: 25%;
  width:100%;
  /* top:25%; */
  /* display:none; */
}

.hover-text:hover {
  opacity: 1;
  transition: 0.6s;
}

.image-container:hover {
  background-color: lightgrey;
  background-blend-mode: soft-light;
  transition: 0.6s;
}

.show-toggle {
  border: 1px dotted rgba(210, 158, 17, 1);
  padding: 25px;
  margin: 10px;
}

.toggled-faq {
  width: 50%;
  margin: 0px auto;
}
.toggled-faq > h3 {
  color: rgba(210, 158, 17, 1);
  font-size:1.25rem;
}

.flex-item {
  flex: 0 0 27%;
}

@media (max-width: 768px) {

  .toggled-faq {
    width: 100%;
  }

  .flex-wrapper hr {
    width: 200px !important;
  }

  .flex-item {
    padding: 25px;
  }

  .image-container {
    margin-top: 75px;
    text-align: center;
    justify-content: center;
    flex: 0 0 50%;
  }
  .hover-text {
    opacity: 1;
    top: 100%;
    font-size: 0.75rem;
    padding: 0px;
  }
  .hover-text > h1 {
    font-size: 1.5rem !important;
  }

  .flex-item {
    flex: 0 0 50%;
    text-align: center;
    margin: 0px auto;
  }

  .flex-wrapper {
    flex-direction: column;
  }
  .flex-wrapper hr {
    border: 2px solid rgb(210, 158, 17, 0.55);;
    /* height: 90px; */
    margin-top: 2%;
    transform: rotate(0deg);
    /* height: 10px; */
    width: 50px;
    /* text-align: center; */
  }
}
