@media (min-width:992px) {
    .home-wrapper{
        max-width:980px;
        margin:0px auto;
    }
}


.hero-text-block {
   max-width:600px;
   color:white;
   margin:0px auto;
}

.hero-phrase{
    width:90%;
    margin:1rem auto;
    
}

.arrow-container {
    cursor:pointer;
color:white;
position:absolute;
bottom:2.5rem;
display:flex;
flex-direction:column;
}

.arrow-container:hover{
    opacity:.5;
    transition:.6s;
}

.action-button {
}

.arrow-container img {
    width:25px;
}





.vertical-line {
    position: absolute;
    border-left: 1px solid rgba(210, 158, 17, 1);
    height: 400px;
    right: 5%;
    z-index: 500;
    top: -200px;
}


.vertical-line-about {
    position: absolute;
    border-left: 1px solid rgba(210, 158, 17, 1);
    height: 400px;
    bottom: -200px;
    left: 5%;
    z-index: 500;
}
@media (max-width:768px) {
    .hero-header {
        font-size:2rem;
    }
    .vertical-line{
        height: 400px;
        right: 5%;
        z-index: 500;
        top: -800px;
}
.vertical-line-about {
    bottom: -800px;
    left: 5%;
    z-index: 500;
}
}



.about-block {
   height:600px;
    width:100%;
    margin:0px auto;
    position:relative;
    /* overflow:hidden; */
}

.about-text{
    background-color:#eaeaea;
    max-height:600px;
}

.about-block > div {
    justify-content:space-around;
}
/* TEMP */
.about-text.col-md-6.col-12 {
    /* margin-left: -10%; */
}


.about-text-box {
    text-align:left;
    padding:25px;
}

.about-text-box h1 {
    padding:25px 0px;
}

.about-text-box button {
    margin: 25px 0px !important;
}

@media (max-width: 768px) {
    .about-text-box{
    text-align:center;
    }
}


.about-lead-btn:hover {
background-color:rgba(210, 158, 17, 1);
border:1px solid transparent;
/* text-align:left; */
}


.stamp-img {
    transform: rotate(35deg);
    position:absolute;
    top:-75px;
    right:0px;
    z-index:-100;
}


.package-block {
    height: 50vh;
    width: 100%;
    margin-top: 15vh;
    padding: 75px;
}

    .package-text{
        text-align:center;
    }

    
    .package-text > h1 {
        margin:0px auto;
        width:100%;
       /* text-align:left; */
    }
    .package-text > p {
        margin:25px 0px;
        width:100%;
    }
    
    .lemon-btn {
        position:absolute;
        top: 75%;
        right: 75px;
        padding: 10px 40px;
        width: 200px;
        background-color:rgba(210, 158, 17, 1);
        color:white;
        border:none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .lemon-btn > p {
        /* position:absolute; */
        margin-top:25%;
        font-size:1rem;
    }
    
    .lemon-arrow {
        width:25px;
        margin-bottom:10px;
    }
    
    
    
    
    .offerings-block {
        margin:5vh auto;
    }
    .offerings-block >h1 {
        padding:25px;
        text-align:center;
    }
    .wrapper {
    justify-content: center;
    display: flex;
    max-width: 680px;
    margin: 0px auto;
        /* width:100%; */
    }

    .offering {
        min-width: 225px;
        min-height: 200px;
        flex: 1 0 31%;
        margin: 10px;
        /* overflow:hidden; */
    }

    .offering:hover {
        /* filter: brightness(1.25);
        transition: .2s; */
    }
    
    .offering-btn {
        position: absolute;
        bottom: -15px;
        left: 50%;
        margin-left: -100px;
        font-size: .75rem;
        border-radius: 0px;
        width: 200px;
    }
    
    .offering-btn:hover {
        color:rgba(210, 158, 17, 1);
        box-shadow:none;
    }

    @media(max-width:997px){
        .wrapper {
            flex-wrap:wrap;
        }
    }
    @media (max-width:768px) {
        .package-text > p {
            padding:10px;
        }
        .offering {
            flex: 0 0 45%;
        }
        .package-block {
            margin:0vh auto;
            margin-top:50vh;
        }

        .lemon-col {
            background-image:none !important;
        }
        .stamp-img {
           display:none;
        }
        .stamp-img-mobile{
            display:block !important;
            position: absolute;
            top: -15%;
            left: 75%;
            width: 25%;
            transform: rotate(35deg);

        }
        .package-text > h1 {
            text-align:center;
    }
    .lemon-btn {
        position: absolute;
        width: 200px;
        left: 50%;
        top:0%;
        margin-left: -100px;
        padding: 10px 40px;
        /* height: 1px; */
      
    }
    .package-text > p {
        width:100%;
    }

    .offerings-block {
        margin-top:10vh;
    }


    .grey-container {
        height: 800px !important;
        width: 100px !important;
        float: left;
        z-index: -100;
        position: relative;
        margin-right: 25px;
    }
    .ppc-grey {
        height: 800px !important;
        width: 100px !important;
    }
    .ppc-text-1 {
        width: 90% !important;
        margin: 0px auto;
        margin-left:0px !important;
    }
    .branding-img {
        margin-top:50vh !important;
    }
}


@media(max-width:499px) {
    .offerings-block {
        margin-top:50vh;
    }
    .package-block {
        margin-top:75vh;
    }
}

@media (max-width:321px) {
    .offerings-block {
        margin-top:75vh
    }
    
}