/* a.tagline.navbar-brand {
    display: inherit;
    font-size:.75em;
}

.menu-icon {
    position:fixed;
    z-index:550;
}

.nav-brand a {
    text-align:center;
}

.title{
    position:fixed;
    margin:0px auto;
    width:100%;
    z-index:500;
}


span.MuiTypography-root.MuiListItemText-primary.MuiTypography-body1.MuiTypography-displayBlock  {
    color:black;
}
*/

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    position: absolute;
    top: 10px;
    left: 10px;
}


.navbar-brand {
    display: inline-block;
    padding-top: 20px;
    width: 100%;
    text-align: center;
} 

.navbar-nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right:10%;
    text-align:center;
}

a.nav-link {
    float: left;
}

.nav {
    background-color:transparent !important;
}

/* .navbar-light .navbar-nav {
    color:white;
} */




/* .justify-content-center.navbar-nav {
    width: 100%;
    z-index:1050;
} */


.navbar-light .navbar-nav .nav-link {
    color:black;
    font-weight:400;
}

.navbar-light .navbar-nav .nav-link.active {
    color:gold;
    font-weight:400;
    opacity:1;
}


.nav-link:hover{
    color: gold !important;
}

.nav-link {
    margin: 0px 18px;
}

.nav-arrow{
    position:absolute;
    right:25px;
    top:40px;
    width:25px;
}




.btn-primary {
    border-color:transparent;
    background-color:transparent;
}


/* @media (max-width:667px) {
    .justify-content-center.navbar-nav {
        display:none;
    }

    .fixed-top {
        height:75px;
    }
} */
@media(max-width:992px) {
.collapse .show, form.form-inline {
    text-align:center;
}

a#basic-nav-dropdown {
    text-align: center;
    width: 100%;
    position: relative;
}
    .nav-link {
       margin:0px 0px !important;
    }
}


/* .dropdown:hover .dropdown-menu {
    display: block !important;
    transition:.6s;

} */

/* .dropdown-menu {
    margin-top: 0px;
    text-align:center;
}

.dropdown {
    margin:0px auto;
} */