.blog-post-page .blog-list-box {
    background-color:rgb(241, 242, 242);
    width:150%;
    margin-left:0%;
}

.blog-post-page .latest-blog-img {
    margin-bottom:50px;
}

.blog-post-page .date-cat + h1 {
    text-align:center;
    margin:15px 0px;
    font-weight:800;
}

.post-text {
    padding-bottom:50px;
    border-bottom: 1px solid rgba(210, 158, 17, 1);
}

.blog-nav-box {
    margin:50px 0px;
    display:flex;
    justify-content: space-between;
}

.share-btns {
    display:flex;
    align-items: center;
}

.share-btns * {
    margin: 5px;
  }
  
.share-block {
    display:flex;
    justify-content: space-between;
}

  .share-block p {
    text-align: center;
    margin: 5px;
    font-weight:800;
  }

  .share-block h5 {
      font-weight:800;
  }
  
  .social-share-icon {
    width: 17px;
  }



  .blog-post-page .list-blog-post {
      width:250px;
      flex-direction:column;
  }

  .blog-post-page .blog-wrapper {
      display:flex;
      /* flex-direction:row !important; */
  }

  .recent-wrapper {
    display: flex;
    justify-content: space-around;
    max-width: 980px;
    position:relative;
  }

  .recent-wrapper .list-blog-post{
      margin:0px 50px;
      text-align: center;
  }

  .blog-post-page .list-blog-post .blog-img {
    height: 275px;
    min-width: 200px;
    background-size: cover;
  }


  .blog-post-page a {
      text-decoration: none;
      color:inherit;
      transition:.3s;
  }
  .blog-post-page a:hover {
      transform:scale(1.1)
  }

  .recent-text {
      text-align:center;
      margin:50px 0px;
  }

  @media(max-width:950px) {
    .blog-post-page .blog-wrapper {
        margin:25px auto;
    }
      .blog-post-page .blog-left {
          margin-top:25px;
        float:unset;
      }
      .blog-post-page .blog-right {
        float:unset;
      }

      .blog-post-page .list-blog-post {
          width:175px;
      }

      .blog-post-page .recent-wrapper {
          max-width:300px;
          margin:0px auto;
      }
      .blog-post-page .blog-list-box {
          width:300%;
      }
  }