.blog-post-page .blog-list-box {
    background-color:transparent;
}

.blog-post-page .latest-blog-img {
    margin-bottom:50px;
}

.blog-post-page .date-cat + h1 {
    text-align:center;
    margin:15px 0px;
    font-weight:800;
}

.post-text {
    padding-bottom:50px;
    border-bottom: 1px solid rgba(210, 158, 17, 1);
}

.blog-nav-box {
    margin:50px 0px;
    display:flex;
    justify-content: space-between;
}

.share-btns {
    display:flex;
    align-items: center;
}

.share-btns * {
    margin: 5px;
  }
  
  .share-block p {
    text-align: center;
    margin: 5px;
    font-weight:800;
  }
  
  .social-share-icon {
    width: 17px;
  }