.branding-img {
    position:relative;
    width:100%;
    height:400px;
    background-position: center;
    background-size: cover;
}

.branding-wrapper{
display:flex;
justify-content:center;
flex-wrap:wrap;
}

.branding-packages {
    margin:100px auto;
}

.branding-package{
    display:flex;
    flex-direction:column;
    flex:0 0 40%;
    /* padding:75px; */
    margin-top:100px;
    text-align:center;
    justify-content: space-evenly;
    align-items:space-between;
    font-size: 0.8rem;
}


.branding-package h1 {
    padding:10px;
}

.branding-package p {
    width:75%;
    margin:10px auto;
}

.branding-package .about-lead-btn {
width:100px;
margin:25px auto;
}

@media(max-width:776px) {
    .branding-package{
        flex: 1 0 55%;
    }
}

.branding-vert-1 {
    position: absolute;
    border-left: 1px solid rgba(210, 158, 17, 1);
    height: 600px;
    width: 20px;
    right: 50px;
    z-index: 600;
    top: 250px;
}
.branding-vert-2 {
    position: absolute;
    border-left: 1px solid rgba(210, 158, 17, 1);
    height: 600px;
    width: 20px;
    left: 50px;
    z-index: 600;
    top: -250px;
}