.faq-section {
    margin:15vh 0vh;
}

.card-header{
    /* margin:15vh 0vh; */
    opacity:.75 !important;
}

.card-body {
    opacity:1 !important;
}

.faq-section .card:hover {
    cursor:pointer;
   /* background-color: rgba(210, 158, 17, .25); */
    transition:.6s;
}

.down-icon {
    position: absolute;
    left: 90%;
}

.card-header {
    padding: 2.5rem 2.25rem;
    margin-bottom: 5rem;
    background-color: transparent;
    border-bottom: none;
}

.faq-section .card {
    border:none;
}

.faq-section a {
    color:rgba(210, 158, 17, 1);
}