
    .greyfooter {
        display:flex;
        /* width:100%; */
        background-color:#eaeaea;
        height:170px;
        justify-content: center;
        align-items: center;
    }

    .greyfooter-content{
        /* width:100%; */
        margin:20px auto;
        text-align:center;
    }

    .greyfooter > h1 {
        /* position:absolute; */
        bottom:1%;
    }

    .connect-btn {
        padding:15px;
        margin:25px;
        background-color:rgba(210, 158, 17, 1);
        color:white;
        border:none;
    }

    .item{
        display:inline;
    }

    .darkfooter{
        background-color:rgb(63 63 63);
        text-align: center;
    }

    hr {
        width:15%;
        border-top: 1px solid rgba(210, 158, 17, 1);
    }

    .stamplogo {
        margin-top:25px;
    }