
.ppc-grey-img-container {
  display:none;
}

.ppc-right {
  width: 50%;
  margin: 0px auto;
}

.ppc-block {
  margin:100px auto;
  position:relative;
}

.ppc-block-1 {
  height:100%;
  margin-bottom:5%;
  display:flex;
}

.ppc-vertical-line {
  position: absolute;
  border-left: 2px solid rgb(210, 158, 17, 0.55);;
  height: 400px;
  width: 20px;
  right: 0%;
  /* z-index: 600; */
  top: -200px;
}
.ppc-vertical-line-1 {
  position: absolute;
  border-left: 2px solid rgb(210, 158, 17, 0.55);;
  height: 400px;
  width: 20px;
  left: 25%;
  z-index: 600;
  top: -50px;
}


.ppc-text-1{
  /* width:50%;
  margin:0px auto;*/
  /* margin-left:35%; */
  margin-right:15px;
}

.ppc-text-1 h1 {
  margin-bottom:25px;
}
.ppc-text-1 button {
  margin:25px 0px;
  font-size:14px;
}



.grey-container {
  height:95%;
  width:200px;
  float:left;
  z-index:-100;
  position:relative;
}

.ppc-grey {
  height:400px;
  width: 200px;
  background-color: rgb(241, 242, 242);
  position:absolute;
  z-index:200;

}


.ppc-grey-img-left {
  background-size:cover;
  background-position:center center;
 width:175px;
 height:199px;
 /* margin-left: -25%; */
 border: 10px solid white;
 z-index:400;
  position:absolute;
  top:25%;
  left:50%;
  
  border: 10px solid white;
}

.grey-stamp-mobile {
  display:none;
}


.grey-stamp {
  position:absolute;
  width:100px;
  height:auto;
  z-index:900;
  top: 67%;
  left: 100%;
  transform: rotate(-25deg);
}


@media(max-width:768px) {

  .grey-stamp-mobile {
    display: block;
    position:absolute;
    width:90px;
    height:auto;
    z-index:200;
    top: -75px;
    left: 50px;
    transform: rotate(-25deg);
  }


  .ppc-right {
    width: 100% !important;
    margin: unset !important;
  }

  .ppc-grey-img-container {
    display:flex;
  }

  .ppc-grey-img {
    background-size:cover;
    background-position:center center;
   width:199px;
   height:199px;
   margin-left: -25%;
   margin-top:25%;
   border: 10px solid white;
   z-index:200;
    /* position:absolute;
    top:25%;
    left:150%;
    
    border: 10px solid white; */
  }

  .ppc-grey-img-left { 
    display:none;
  }
  .ppc-block-1 {
    margin-bottom:25%;
  }
  .ppc-grey-img {
    top:80%;
    /* min-width:250px !important; */
    height:150px;
    min-width:150px !important;
    max-width:150px !important;
}
.grey-stamp {
  position: absolute;
  width: 100px;
  height: auto;
  z-index: 900;
  top: 99% !important;
  left: 191% !important;
  transform: rotate(-25deg);
}

/* check */
.grey-container {
  /* height: 150vh !important; */
  width: 100px !important;
  float: left;
  z-index: -100;
  position: relative;
  margin-right: 25px;
}
.ppc-grey {
  height: 100% !important; /*check*/
  width: 100px !important;
}
}

@media(max-width:415px) {
  .ppc-grey-img {
    top:65%;
    /* min-width:250px !important; */
}

.ppc-grey {
  height: 100% !important; /*check*/
  width: 100px !important;
}
}
@media(max-width:400px) {
  .ppc-grey-img {
    top:80%;
    /* min-width:250px !important; */
}

.ppc-grey {
  height: 100% !important; /*check*/
  width: 100px !important;
}
}


@media(max-width:321px) {
  .ppc-text-1 {
    width:75%;
  }
  .ppc-grey-img {
    top:105%;
    /* min-width:250px !important; */
}

.ppc-grey {
  height: 110% !important; /*check*/
  width: 100px !important;
}
}