.service-block {
  display: flex;
  width: 75%;
  margin: 0px auto;
  position: relative;
  flex-direction:column;
}
.ppc-text-2 {
  width: 50%;
  text-align: left;
  margin: 25px auto;
}
.ppc-text {
  width: 45%;
  text-align: center;
  margin: 25px auto 25px auto;
}

.ppc-text * {
  margin:35px 0px;
}



.margin-top {
  margin-top: 100px !important;
}

.ppc-text-2 > h2 {
  margin-bottom: 25px;
  /* font-size:35px !important; */
}
.ppc-text > h2 {
  margin-bottom: 25px;
  /* font-size:35px !important; */
}

.service-block-logo {
  transform: rotate(-25deg);
  position: absolute;
  top: -20%;
}

.grey-div {
  position: absolute;
  background-color: rgb(241, 242, 242);
  height: 550px;
  width: 150px;
  top:-50px;
  right: -15%;
}
.collage {
  padding: 25px;
  text-align: left;
  margin-top: -10%;
  position: relative;
  z-index:-50;
}

.collage-home {
  display: flex;
  justify-content: flex-end;
  z-index:-5;
  margin-top:-25%;
}

.collage-3 {
  position: relative;
  z-index: 400;
  width: 150px;
  height: 400px;
  position: relative;
  z-index: 400;
}

.collage-4 {
  position: relative;
  z-index: 600 !important;
  border: 10px solid white;
  margin-right: 16%;
  /* margin-top: 30%; */
  z-index: 400;
}

.collage-1 {
  z-index: 400;
}
.collage-2 {
  z-index: 500;
  margin-left: -5%;
  margin-top: 25%;
  border: 10px solid white;
}

.vertical-line-service {
  position: absolute;
  border-left: 2px solid rgb(210, 158, 17, 0.55);;
  height: 400px;
  z-index: 600;
  bottom: -200px;
  left: 50px;
}

.fb-text {
  padding: 50px;
  width: 75%;
  margin: 0px auto;
  text-align: center;
}

.fb-text > h1 {
  padding: 25px;
}

.fb-text .logo-branding-block {
  height: 800px;
}

.logo-branding-box {
  position: relative;
  background-color: rgb(241, 242, 242);
  margin-top: -150px !important;
  /* height: 250px; */
  width: 50%;
  margin: 0px auto;
  z-index: 600;
  text-align: center;
}

.logo-branding-text {
  padding: 25px;
  margin: 15px;
}

.logo-branding-text > * {
  margin: 30px 0px;
}

.collage-two {
  padding: 25px;
  text-align: right;
  margin-top: -15%;
  /* height: 800px; */
  height:100%;
  position: relative;
  /* z-index:-50; */
  margin-bottom:5vh;
}
/* .collage-4 {
  position: relative;
  z-index: 600 !important;
  border: 10px solid white;
  margin-right: -10%;
  margin-top: 30%;
} */

.vertical-line-service-1 {
  position: absolute;
  border-left: 2px solid rgb(210, 158, 17, 0.55);;
  height: 400px;
  width: 20px;
  right: -15%;
  z-index: 600;
  top: -200px;
}

.vertical-line-service-2 {
    position: absolute;
    border-left: 2px solid rgb(210, 158, 17, 0.55);;
    height: 800px;
    width: 20px;
    left: 5%;
    z-index: 600;
    bottom: 50px;
}

.service-block-logo-2 {
  transform: rotate(25deg);
  position: absolute;
  /* right: 205px; */
  right: 275px;

  top: -50px;
  z-index: 999999;
}



@media (max-width: 768px) {

  .ppc-block .ppc-text {
    text-align:center;
    width:75%;
  }

  .service-block .ppc-text {
    width: 65%;
    text-align: left;
    margin: 0px auto 0px 10px;
  }

  .margin-top {
    margin-top: 50px !important;
  }


  .service-block {
    flex-direction:row;
  }

  .vertical-line-service-1 {
    right: -5%;

  }
  .vertical-line-service {
    left: 35px;

  }

  .btn {
    text-align: center !important;
  }
  .service-block-logo {
    width:78px;
    top: -20%;
    left: -5%;
  }
  .grey-div {
    width: 75px;
    right:-5%;
  }
  .ppc-text .service-block {
    width: 65%;
    text-align: left;
    margin:25px 0px;
  }
  .ppc-text-2 .service-block {
    width: 65%;
    text-align: left;
    margin:25px 0px;
  }

  .ppc-text > h1 {
    width:100%;
    text-align:center;
    margin:25px 0px;
  }
  .ppc-text-2 > h1 {
    width:100%;
    text-align:center;
    margin:25px 0px;
  }

  .collage-1 {
    width: 50% !important;
  }
  .collage-2 {
    z-index: 500;
    margin-left: -5%;
    margin-top: 50%;
    border: 10px solid white;
    width: 50% !important;
  }

  .fb-text {
    width: 100% !important;
  }

  .logo-branding-box {
    width: 90%;
  }

  .logo-branding-text {
    padding: 25px 10px;
    margin: 15px;
  }

  .collage-home{
    width:50%;
    display: flex;
    justify-content: flex-end;
    margin-top:0%;
  }
  .collage-two {
   text-align:center;
   z-index:100;
   /* margin-top:0%; */
  }
  .collage-3 {
    /* width: 25% !important; */
    /* width:80px; */
    width:100px;
    /* height:500px; */
    height:650px;
    z-index:-5;
  }
  .collage-4 {
    width: 60% !important;
    margin-top:0%;
    margin-right:0%;
    /* margin-top: 50%; */
  }

  .service-block-logo-2 {
    display: none;
  }
}


@media(max-width:322px) {
  .collage-home{
    margin-top:25%;
  }
  .about-lead-btn{
    font-size:8px;
  }
}